.Landing{
    background-image: url("../../data/img/headerPhoto.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro,.name{
    margin: 0px;
    border: 1px solid purple;
    text-align: center;
    color: white;
    text-shadow:
   -2px -2px black,  
    2px -2px black,
    -2px 2px black,
     2px 2px black,
     -1px -1px black,  
    1px -1px black,
    -1px 1px black,
     1px 1px black;
}

.intro{
    font-style: italic;
}

.name {
    overflow: hidden;
    text-align: center;
    font-size: 350%;
    font-weight: bold;
  }
  .name:before,
  .name:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 5%;
  }
  .name:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .name:after {
    left: 0.5em;
    margin-right: -50%;
  }
  