.App {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  

}

.landing, .aboutMe, .projectDiv, .experienceDiv{
  text-align: center;
  background-color: #F4FDFF;
}


.title {
  overflow: hidden;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
}
.title:before,
.title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}
.title:before {
  right: 0.5em;
  margin-left: -50%;
}
.title:after {
  left: 0.5em;
  margin-right: -50%;
}
